@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.search-results a {
  text-decoration: none;
}

.video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  max-height: 281px;
  min-height: 233px;
  width: 100%;
  max-width: 1250px;
  min-width: 452px;
  margin-bottom: 20px;
}

.video-card a {
  display: flex;
  height: 100%;
  width: 100%;
}

.video-card__more-button {
  font-size: 20px;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  margin-top: -6px;
  margin-left: 10px;
  cursor: pointer;
}

.video-card__more-button:active {
  background-color: rgb(240, 240, 240);
  transform: scale(0.95);
}

.video {
  flex: 0 1 45%;
  width: 100%;
  max-width: 500px;
  min-width: 240px;
  margin-right: 15px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  cursor: pointer;
}

.video__player-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-width: 240px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 16px;
}

.video__thumbnail,
.video__player {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video__player {
  pointer-events: none;
}

.video__info {
  flex: 0 1 55%;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  min-width: 0;
  overflow: hidden;
}

.video__text {
  font-family: "Roboto", "Arial", sans-serif;
  min-width: 0;
}

.video__title {
  color: black;
  font-size: 18px;
  font-weight: 400;
  max-width: 686px;
  margin-top: 4px;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.video__text > p {
  color: rgb(96, 96, 96);
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 2px;
}

.video__channel {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-left: 2px;
}

.video__avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.video__channel-name-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.video__channel-name {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video__channel-name:hover {
  color: black;
}

.video__verification-badge {
  font-size: 14px;
  color: rgb(96, 96, 96);
  transform: translateY(1px);
}

.video__description {
  font-size: 12px;
  color: rgb(96, 96, 96);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.spinner {
  flex: 0 0 auto;
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey */
  border-top: 4px solid #a3a3a3; /* Blue color */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 540px) {
  .video-card__more-button {
    margin-right: 45px;
  }
}
