.sidebar-expanded {
  flex: 0.13;
  position: sticky;
  z-index: 100;
  top: 70px;
  height: calc(100vh - 70px);
  min-width: 240px;
  transform: translateY(-55px);
  margin-right: 8px;
  scrollbar-width: thin;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.sidebar-expanded__section-header {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 6px;
  margin-left: 22px;
}

.sidebar-expanded > hr {
  background-color: lightgray;
  height: 1px;
  width: 100%;
  border: none;
  margin-top: 10px;
  margin-bottom: 12px;
}

.sidebar-expanded__user-sign-in-prompt {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  width: 180px;
  margin-top: 18px;
  margin-left: 28px;
}

.sidebar-expanded__user-sign-in-button {
  display: flex;
  align-items: center;
  background-color: white;
  height: 38px;
  width: 100px;
  margin-bottom: 16px;
  margin-left: 30px;
  padding: 3px 9px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 26px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
}

.sidebar-expanded__user-sign-in-button:hover {
  background-color: var(--user-sign-in-button-hover-color);
  border-color: var(--user-sign-in-button-hover-color);
}

.sidebar-expanded__avatar-icon {
  font-size: 22px;
  color: var(--user-sign-in-button-color);
  margin-right: 6px;
}

.sidebar-expanded__user-sign-in-button-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--user-sign-in-button-color);
}

.sidebar-expanded__footer {
  margin-left: 20px;
}

.sidebar-expanded__footer-1,
.sidebar-expanded__footer-2,
.sidebar-expanded__footer-copyright {
  margin-bottom: 20px;
}

.sidebar-expanded__footer > .sidebar-expanded__footer-1 > a,
.sidebar-expanded__footer > .sidebar-expanded__footer-2 > a {
  display: inline-block;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: var(--sidebar-exapnded-footer-color);
  margin-right: 8px;
  text-decoration: none;
}

.sidebar-expanded__footer > .sidebar-expanded__footer-1 > a:visited,
.sidebar-expanded__footer > .sidebar-expanded__footer-2 > a:visited {
  color: var(--sidebar-exapnded-footer-color);
  text-decoration: none;
}

.sidebar-expanded__footer-copyright {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  color: rgb(144, 144, 144);
}
